header {
  background-color: #03A3DF;
  padding: 10px
}

img.logo {
  height: 100px;
}

header nav ul {
  float:right;
}

nav li, nav a {
  display: inline-block;
  padding: 15px;
  color: #FFF;
  text-decoration: none;
  font-size: 25px;
}

nav li.active {
  font-weight: bold;
}

nav a:hover {
  color: #1B447F;
}

footer {
  background: url("../images/footer-image.jpg") no-repeat;
  margin-top: 20px;
  padding: 10px 20px 0;
}

footer nav {
  float: right;
}

footer small {
  clear: both;
  display: block;
  text-align: center;
  color: #FFF;
  padding-bottom: 20px;
}

.container {
  max-width: 1040px;
  margin: auto;
}

body {
  color: #444;
  font-family: arial;
  font-size: 17px;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  color: #1B447F;
  padding-top: 10px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

.instructors {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px); 
  grid-column-gap: 20px;
}

.instructors div {
  grid-column: span 1;
  grid-row-start: 2;
  border: 1px solid #ECB722;
  padding-top: 15px;
  text-align: center;
  padding: 20px;
}

.instructors strong {
  color: #1B447F;
  text-align: center;
  font-size: 24px;
}

.instructors img {
  display: block;
  margin: auto;
  padding: 10px;
  border-bottom: 4px solid #03A3DF;
}